.cards {
  max-width: 880px;
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, 362px);
  gap: 20px 17px;
}
.card {
  position: relative;
}
.card__btn_delete {
  position: absolute;
  top: 18px;
  right: 15px;
  cursor: pointer;
}
.card__btn_delete:hover {
  opacity: 60%;
}
.card__container {
  width: 282px;
  height: 361px;
  border-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
}
.card__image {
  width: 282px;
  height: 282px;
  object-fit: cover;
}
.card__text {
  width: 221px;
  height: 30px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  margin: auto auto auto 21px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.card__btn_like {
  width: 21px;
  height: 19px;
  position: absolute;
  bottom: 30px;
  right: 18px;
  cursor: pointer;
}
.card__btn_like:hover {
  opacity: 50%;
}
.card__btn_like-active {
  background-image: url(../images/icon_like-active.svg);
}
@media screen and (max-width: 880px) {
  .cards {
    max-width: 581px;
    grid-template-columns: repeat(2, 282px);
    grid-template-rows: repeat(3, 362px);
  }
}
@media screen and (max-width: 581px) {
  .cards {
    max-width: 282px;
    display: flex;
    flex-direction: column;
    margin-top: 36px;
  }
  .card {
    height: 362px;
  }
}
