.header {
  max-width: 880px;
  height: 74px;
  margin: 45px auto 0;
  border-bottom: 1px solid #545454;
}
@media screen and (max-width: 880px) {
  .header {
    max-width: 581px;
    max-height: 40px;
  }
  .header__logo {
    width: 128px;
    height: 24px;
  }
}
@media screen and (max-width: 581px) {
  .header {
    max-width: 320px;
    max-height: 56px;
    margin-top: 28px;
  }
}
