.profile {
  max-width: 880px;
  width: 68.75%;
  height: 120px;
  margin: 40px auto 0;
  display: flex;
  justify-content: space-between;
}
.profile__frame {
  width: 120px;
  height: 120px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.profile__info {
  width: 415px;
  height: 77px;
  margin: auto auto auto 30px;
  display: flex;
  flex-wrap: wrap;
}
.profile__name {
  width: 373px;
  margin: 0;

  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__job {
  width: 373px;
  margin: auto auto 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  box-sizing: border-box;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.profile__btn_edit {
  border: #ffffff solid 1px;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  padding: 7px;
  margin: 15px 0 auto auto;
}

.profile__btn_edit:hover {
  opacity: 60%;
}
.profile__btn_add {
  border: #ffffff solid 2px;
  box-sizing: border-box;
  width: 150px;
  height: 50px;
  margin: auto 0;
  padding: 14px 64px;
  cursor: pointer;
}
.profile__btn_add:hover {
  opacity: 60%;
}
