.profile {
  max-width: 880px;
  max-height: 120px;
  margin: 40px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.profile__frame {
  max-width: 120px;
  max-height: 120px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile__avatar {
  max-width: 169px;
  max-height: 128px;
}
.profile__info {
  max-width: 415px;
  max-height: 77px;
  margin: auto 165px auto 30px;
  display: grid;
  grid-template-columns: auto 24px;
  grid-template-rows: 39px auto;
  gap: 16px 18px;
  font-family: "Inter";
  font-style: normal;
  color: #ffffff;
}
.profile__name {
  width: 373px;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  margin: 0;
  grid-column: 1/1;
  grid-row: 1/2;
}
.profile__title {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  grid-column: 1 / !;
  grid-template-rows: 2/3;
}
.profile__edit_button {
  border: #ffffff solid 1px;
  grid-column: 2/3;
  grid-row: 1/2;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  margin: auto 0 0;
  display: flex;
}
.profile__edit_icon {
  max-width: 10px;
  max-height: 10px;
  margin: auto;
}
.profile__add_button {
  border: #ffffff solid 2px;
  width: 150px;
  height: 50px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
}
.profile__add_icon {
  width: 22px;
  height: 22px;
  margin: auto;
}
